In [2]:
import pandas as pd
df = pd.read_csv("../data/raw/olx_cars.csv")

In [3]:
df.head()

,title,price_pln,model,year,mileage_km,fuel,transmission,image_url
0,Ford focus se 165 KM,29900,Focus,2016,76000,Benzyna,Automatyczna,https://ireland.apollo.olxcdn.com:443/v1/files...
1,Ford focus se 165 KM,29900,Focus,2016,76000,Benzyna,Automatyczna,https://ireland.apollo.olxcdn.com:443/v1/files...
2,Alfa Romeo Stelvio Salon Polska Jeden właściciel,119900,Stelvio,2021,93000,Benzyna,Automatyczna,https://ireland.apollo.olxcdn.com:443/v1/files...
3,Alfa Romeo Stelvio Salon Polska Jeden właściciel,119900,Stelvio,2021,93000,Benzyna,Automatyczna,https://ireland.apollo.olxcdn.com:443/v1/files...
4,"Volvo XC60 3,2 benzyna 2013",45000,60,2013,200000,Benzyna,Automatyczna,https://ireland.apollo.olxcdn.com:443/v1/files...

<h1>Analyse problem</h1>

In [4]:
df.isnull().sum()

title           0
price_pln       0
model           2
year            0
mileage_km      0
fuel            0
transmission    0
image_url       0
dtype: int64

In [5]:
df[["price_pln", "mileage_km"]].describe()

           price_pln     mileage_km
count     249.000000     249.000000
mean    40459.477912  185705.373494
std     41608.574366   94999.531672
min      2990.000000      10.000000
25%     16900.000000  135000.000000
50%     32900.000000  190000.000000
75%     53999.000000  260000.000000
max    369000.000000  440000.000000

In [6]:
df.duplicated().sum()

128

<h1>Cleaning</h1>

In [7]:
df = df.drop_duplicates()

In [8]:
df["mileage_km"].fillna(df["mileage_km"].median(), inplace=True)

/var/folders/l6/xzbwcxwj1nv2l8nwwcsc471w0000gn/T/ipykernel_28404/2085673794.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["mileage_km"].fillna(df["mileage_km"].median(), inplace=True)

In [9]:
df = pd.get_dummies(df, columns=["fuel", "transmission"])